<footer>
    <div id="footer">
    <ul id="icons">
        <li><a href="" uk-icon="instagram"></a></li>
        <li><a href="" uk-icon="facebook"></a></li>
        <li><a href="" uk-icon="twitter"></a></li>
    </ul>
    <ul id="names">
        <li>David Bastidas Velez</li>
        <li>Tomas Giampaoletti</li>
        <li>Candelaria Vinsennau</li>
    </ul>
    </div>
    
</footer>