<header>
    <div class="header-container">
        <div class="logo-container">
            <% if(locals.user){%>
                <a href="/">
                    <img class="logo" src="../images/foodiegram.png" alt="">
                </a>
            <% } else {%>
                <a href="/">
                    <img class="logo" src="../images/foodiegram.png" alt="">
                </a>
            <% } %>
        </div>

        <div class="search-container">
            <img class="nav-icon lupa" src="../images/icons/search.png" alt="">
            <form action="/post/search" method="GET" class="buscador-form">
                <input type="text" name="search" placeholder="¿Qué queres buscar?" id="" class="buscador-input">
                <button type="submit" class="buscador-button">Buscar</button>
            </form>
        </div>

        <div class="nav-container">

            <% if(locals.user){%>
                <h2>Hola, <%= locals.user.name %> </h2>
                
                <a href="/user/myProfile">
                    <img class="nav-icon round" src="../images/foto_perfil_usuario/david.jpeg" alt="">
                </a>

                <a href="/post/add">
                    <img class="nav-icon" src="../images/icons/addPhoto.png" alt="">
                </a>

                <form action='/account/logout' method="POST"> 
                    <button type="submit"> Logout </button>
                </form>

            <% } else {%>

                <div class="nav-container">
                    <a href="/account/signup">
                        <h4 class="nav-text registrarse-text">Registrarse</h4>
                    </a>
                    <a href="/account/login">
                        <h4 class="nav-text">Iniciar Sesión</h4>
                    </a>
                </div>
                
            <% } %>
        </div>
    </div>
</header>