<header>
    <div class="header-container">
        <div class="logo-container">
            <% if(locals.user){%>
                <a href="/">
                    <img class="logo" src="../images/foodiegram.png" alt="">
                </a>
            <% } else {%>
                <a href="/">
                    <img class="logo" src="../images/foodiegram.png" alt="">
                </a>
            <% } %>
        </div>

        <div class="search-container">
            <img type="submit" class="nav-icon lupa" src="../images/icons/search.png" alt="">
            <form action="/search" method="GET" class="buscador-form">
                <input type="text" name="search" placeholder="Buscador de usuarios" id="" class="buscador-input">
                <button  class="buscador-button">Buscar</button>
            </form>
        </div>

        <div class="nav-container">

            <% if(locals.user){%>
                <h2 id="hello">Hola, <%= locals.user.name %> </h2>
                
                <a href="/user/myProfile/<%= locals.user.id %>">
                    <% if(locals.user.user_picture == null) { %> 
                        <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                            <img src="../images/avatar.png" alt="foto de perfil" class="nav-icon round">
                        </div>  
                    <% } else { %> 
                        <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                            <img src="<%= locals.user.user_picture %>" alt="foto de perfil" class="foto-perfil">
                        </div>    
                    <% } %> 
                </a>

                <a href="/post/add">
                    <img class="nav-icon" src="../images/icons/addPhoto.png" alt="">
                </a>

                <form action='/account/logout' method="POST"> 
                    <button type="submit"> Logout </button>
                </form>

            <% } else {%>

                <div class="nav-container">
                    <a class="account" href="/account/signup">
                        <h4 class="nav-text registrarse-text">Registrarse</h4>
                    </a>
                    <a class="account" href="/account/login">
                        <h4 class="nav-text">Iniciar Sesión</h4>
                    </a>
                </div>
                
            <% } %>
        </div>
    </div>
</header>