.info-usuario .foto-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.info-usuario .red-usuario{
    list-style: none;
    padding: 0;
    justify-content: flex-start;
}
.foto-post{
    width: 100%;
    border-radius: 10px;
}
.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
}
.datosUsuario{
    margin-top: 10px;
    width: 125%;
}
section div.detalle{
    justify-content: flex-end;
}
.seguidores{
    margin-right: 20px;
}

section div div div.post{
    flex-direction: column;
}
section div div.div-post{
    padding: 20px;
    border-radius: 10px;
}
