form{
    text-align: center;
    padding-bottom: 3%;
}
input, button,.login, .login a{
    font-family: "Poppins";
}
input{    
    width:100%;
    padding:10px;
    margin: 8px;
    border-radius:10px;
    border:1px solid #ccc;
}
.login, .login a{
    font-size: 14px;
    display: inline;
}
button{
    padding:10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius:10px;
    border:1px solid #ccc;
}
main{
    height: 522px;
}