body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.info-usuario .foto-perfil{
    border-radius: 50%;
    width: 50%;
    height: 130%;
}
.header-container{
    width: 100vw;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #393333;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo-container{
    display: flex;
    align-items: center;
}
a{
    display: flex;
    align-items: center;
}
.logo{
    width: 180px;
    height: auto;
    margin-top: 10px;
}
.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-icon{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
img.lupa{
    margin-right: 5px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buscador-input{
    width: 25vw;
    height: 25px;
    border-radius: 5px;
    border: 0px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}
.buscador-button{
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border: 0px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}
h4.nav-text{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
    margin-bottom: 0px;
}
.registrarse-text{
    font-weight: bold;
}
.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}
.datosUsuario{
    width: 125%;
}
.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
}
.link-detalle{
    width: 65%;
}
p.uk-text-center{
    gap: 5%;
}
img.foto-perfil{
    height: 75%;
    width: 80%;
}
#section2{
    margin-top: 50px;
}