body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h4.nav-text{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
    margin-bottom: 0px;
}
#registro{
    text-align: center;
}
.formRegistro, #buttonRegistro ,.login, .login a{
    font-family: "Poppins";
}
.login, .login a{
    font-size: 14px;
    display: inline;
}
.formRegistro{    
    width:100%;
    padding:10px;
    margin: 8px;
    border-radius:10px;
    border:1px solid #ccc;
}
#buttonRegistro{
    padding:10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius:10px;
    border:1px solid #ccc;
}
main{
    height: 522px;
}
