<footer>
    <div id="footer">
    <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li><a href="" uk-icon="instagram"></a></li>
        <li><a href="" uk-icon="facebook"></a></li>
        <li><a href="" uk-icon="twitter"></a></li>
    </ul>
    <ul class="uk-flex uk-flex-between">
        <li>David Bastidas Velez</li>
        <li>Tomas Giampaoletti</li>
        <li>Candelaria Vinsennau</li>
    </ul>
    </div>
    
</footer>