<header>
    <div class="header-container">
        <div class="logo-container">
            <a href="">
                <img class="logo" src="images/foodiegram.png" alt="">
            </a>
        </div>

        <div class="search-container">
            <img class="nav-icon lupa" src="images/icons/search.png" alt="">
            <form action="/resultadoBusqueda" method="GET" class="buscador-form">
                <input type="text" name="search" placeholder="¿Qué queres buscar?" id="" class="buscador-input">
                <button type="submit" class="buscador-button">Buscar</button>
            </form>
        </div>

        <div class="nav-container">
            <a href="/registracion">
                <h4 class="nav-text registrarse-text">Registrarse</h4>
            </a>
            <a href="/login">
                <h4 class="nav-text">Iniciar Sesión</h4>
            </a>
        </div>
    </div>
</header>