<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodieGram</title>
    <link rel="icon" href="images/icons/icono.png" type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/header-deslogueado.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kumbh+Sans:wght@300;700&family=Poppins:wght@300&family=Questrial&display=swap" rel="stylesheet">
        
    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include('./partials/headerDeslogueado') %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                
                <form id="inicio" action="/miPerfil" method="POST">

                    <span class="logo1">foodie</span><span class="logo2">gram</span>
                    <div class="container">
                            
                        <input class="formInicio" type="text" placeholder="name" name="name" required><br>
                        <input class="formInicio" type="password" placeholder="password" name="password" required><br>
    
                        <button id="buttonInicio" type="submit">Iniciar Sesión</button><br>
                        <span class="login">¿No tenes cuenta?<a href="/account/signup"> Registrate </a></span>
                    </div>
                </form>

            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>