<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodieGram</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/icons/icono.ico" />

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/header-logueado.css">
    <link rel="stylesheet" href="/stylesheets/header-deslogueado.css">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kumbh+Sans:wght@300;700&family=Poppins:wght@300&family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include('./partials/header')%>

    <% if (resultado.length>0) { %>
         
        <% for (let i=0; i< resultado.length; i++){ %>
            <div class="usuario">
                <div class="imagen"><img src="/images/iconoUsuario.png" alt=""></div>
                <!--<div class="nombre data">
                  <p><%= //resultado[i].name %></p>
                </div> -->
                <div class="email data">
                  <p><%= resultado[i].email %></p>
                </div>
              </div>
              <% } } %>
        <!-- Item de usuario -->
       
    </div>
      <!-- Lista con todos los usuarios -->
    </div>

    <%- include('./partials/footer') %> 

</body>

</html>