<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kumbh+Sans:wght@300;700&family=Poppins:wght@300&family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    <title>FoodieGram</title>
    <link rel="icon" href="images/icons/icono.png" type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/validatingUserQuestion.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
    <div class="header-container">
        <div class="logo-container">
            <% if(locals.user){%>
                <a href="/">
                    <img class="logo" src="/images/foodiegram.png" alt="">
                </a>
            <% } else {%>
                <a href="/">
                    <img class="logo" src="/images/foodiegram.png" alt="">
                </a>
            <% } %>
        </div>

        <div class="nav-container">

        </div>
    </div>
    <div class="contenedorUsuario">
        <div class="arribaLogo">
            <a href="/account/login"><img class="gifComida" src="https://i.pinimg.com/originals/da/4f/c2/da4fc2360e1dcc5c85cf5eeaee4b107f.gif" alt=""></a>
        </div>
        <div class="cajaContenido">
            <form class="validatingUserProcess" action="/account/validatingUserQuestion" method="POST">
                <input type="hidden" name="id" value="<%= user.id %> "> 
                <h2>Tu pregunta es: <%= user.question.question %> </h2>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <input class="uk-input respuesta" type="text" placeholder="Respuesta..." name="securityAnswer">
                    </div>
                </div>    
                
                <input type="submit" class="uk-button uk-button-defauly botonContinuar" value="Continuar">

            </form>
        </div>

    </div>
    <%- include('./partials/footer') %>
</body>
</html>