.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}
form{
    text-align: center;
}
input, button,.login, .login a, .titlePost{
    font-family: "Poppins";
}
.formPosteo{    
    width:100%;
    padding:10px;
    margin: 8px;
    border-radius:10px;
    border:1px solid #ccc;
}
#postear{
    padding:10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius:10px;
    border:1px solid #ccc;
}
main{
    margin-bottom: 0%;
    height: 522px;
}
.container{
    text-align: center;
}
#imageEdit{
    margin-left: 120px;
    margin-right: 120px;
    max-width: 500px;
}