.fotoPerfil{
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}
#fotoPerfilUsuario{
    width: 80%;
    max-width: 80px;
}
.section.detalle-container{
    border: 1px solid lightgray;
};
.comentarios-detalle{
    border-left: 1px solid lightgray;
};
div.info-post{
    justify-content: flex-start;
}
.comentarios-detalle .info-post{
    height: 10%;
    border-bottom: 1px solid lightgray;
    padding-left: 5px;
};
.comentarios-detalle .info-post img{
    border-radius: 50%;
};
.comentarios-detalle .info-post h3{
    font-size: 14px;
    font-weight: bolder;
    margin: 0 0 0 8px;
};
.comentarios-detalle .lista-comentarios{
    height: 75%;
    padding-left: 5px;
    border-bottom: 1px solid lightgray;
    overflow: scroll;
};
.comentarios-detalle .lista-comentarios::-webkit-scrollbar{
    display: none;
};
.comentarios-detalle .agregar-comentario{
    height: 15%;
    padding-left: 5px;
};
.comentarios-detalle .lista-comentarios{
    padding-right: 2px;
};
.comentarios-detalle .lista-comentarios .comentario .icono-meGusta{
    font-weight: bolder;
};
.comentarios-detalle .lista-comentarios .comentario div img{
    border-radius: 50%;
};
.comentarios-detalle .lista-comentarios .comentario h6{
    font-size: 13px;
    margin-left: 2px !important;
};
.comentarios-detalle .lista-comentarios .comentario h6 a{
    font-weight: bolder;
    font-size: 15px;
    color: black;
    text-decoration: none;
    margin-right: 4px !important;
};
div.lista-comentarios{
    margin-left: 100px;
}
img.post-imagen{
    border-radius: 20px;
}
div div h6 a.user-comment-post{
    color: black;
}
div h3 a.user-comment-post{
    color: black;
    margin-left: 10px;
}
article div div img.fotos-comentarios{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
div a.like{
    color: black;
}
div h6.margin-left{
    margin-left: 10px !important;
}
div form button.button{
    font-family: 'Open Sans', sans-serif;
}
#buttonComment{
    padding:10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius:10px;
    border:1px solid #ccc;
}
#addComment{
    font-size: 80%;
}
.username{
    color: black;
    letter-spacing: 1px;
}
#postText{
    margin-left: 5%;
    color: black;
}
#piedefoto{
    margin-top: 4% ;
    margin-bottom: 6%;
}
#infoUser{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.editPerfil{
    text-align: right;
}
#usuarioPost{
    font-weight: 600;
}
#fecha{
    margin-top: 5px;
}
.comentarioPost{
    margin-top: 10px;
    color: black;
}
img.fotoPerfilUsuario{
    height: 40px;
    max-width: 80px;
    border-radius: 100%;
}