footer{
    height: 40px;
    color: white;
    padding: 0 10px;
    background-color: #393333;
}
#footer{
   display: grid;
   grid-template-columns: 50% 50%; 
   margin-top: 0;
}
#footer ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 5px;
}
