.header-container{
    width: 100vw;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #393333;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header{
    height: 55px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
header section{
    height: 100%;
}
header section nav{
    height: 100%;
}
header nav ul li a{
    color: white;
}
header nav ul li a:hover{
    color: lightsteelblue;
    text-decoration: none;
}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header div.uk-navbar-center ul li{
    padding: 0 10px;
    border-right: 1px solid white;
}
header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}
header nav form input, header nav form ::placeholder, header nav form span{
    color: white !important;
}
.logo-container{
    display: flex;
    align-items: center;
}
a{
    display: flex;
    align-items: center;
}
.logo{
    width: 180px;
    height: auto;
    margin: 0;
    margin-top: 10px;
}
.logo a{
    font-family: 'Fjalla One', sans-serif;
    color: white;
}
.logo a:hover {
    text-decoration: none;
    color: white;
}
.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-icon{
    width: 15%;
}
.round{
    border-radius: 100px;
}
img.lupa{
    margin-right: 5px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h4.nav-text{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
    margin-bottom: 0px;
}
.registrarse-text{
    font-weight: bold;
}
#hello{
    color: whitesmoke;
}

@media (min-width:1024px){
    .buscador-input{
        width: 15vw;
        height: 25px;
        border-radius: 5px;
        border: 0px;
        padding-left: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .buscador-button{
        width: 60px;
        height: 25px;
        border-radius: 5px;
        border: 0px;
        margin-left: 5px;
        font-family: 'Poppins', sans-serif;
    }

}