body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.info-usuario .foto-perfil{
    border-radius: 50%;
    width: 50%;
    height: 130%;
}
.header-container{
    width: 100vw;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #393333;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo-container{
    display: flex;
    align-items: center;
}
a{
    display: flex;
    align-items: center;
}
.logo{
    width: 180px;
    height: auto;
    margin-top: 10px;
}
.nav-icon{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
img.lupa{
    margin-right: 5px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h4.nav-text{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
    margin-bottom: 0px;
}
.registrarse-text{
    font-weight: bold;
}
.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}
#datosUsuario{
    margin:0;
}
.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
}
p.uk-text-center{
    gap: 5%;
}
#fotoPerfil{
    width: 80%;
    max-width: 150px;
}
#section2{
    margin-top: 50px;
}
#firstPost{
    text-align: center;
}
#firstPostText{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}
#username{
    font-family: 'Poppins', sans-serif;
    padding-right: 3%;
}
#logoutButton{
    margin-left: 5%;
    width: 25vw;
    height: 30px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size: 70%;
    max-width: 100px;
}
.foto-post{
    width: 100%;
    border-radius: 10px;
}
a.boton{
    display: block;
    font-size: 15px;
    border-radius: 5px;
    line-height: 30px;
    background-color: #393333;
    width: 80px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
}
a.boton:hover{
    text-decoration: none;
    color:white;
}
a.boton:active{
    background-color: white;
    color: black;
}
a.boton:target{
    background-color: white;
    color: black;
}
a.boton:focus{
    background-color: white;
    color: black;
}
.fotoPerfil{
    height: 120px;
    width: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}


@media (min-width:1024px){
    .nav-container{
        margin-left: 54%;
    }
    h4.nav-text{
        display: inline-block;
    }
    .logo{
        margin-right: 50%;
    }
    .login, .login a{
        font-size: 16px;
    }
    #fotoPerfil{
        max-width: 180px;
    }
    #editProfile{
        padding-right: 3%;
    }

}