.buscador-input, .buscador-button, .nav-icon.lupa, h4.nav-text{
    display:none;
}
.logo{
    justify-content: center;
}
#registro{
    text-align: center;
}
.formRegistro, #buttonRegistro ,.login, .login a{
    font-family: "Poppins";
}
.login, .login a{
    font-size: 14px;
    display: inline;
}
.formRegistro{    
    width:100%;
    padding:10px;
    margin: 8px;
    border-radius:10px;
    border:1px solid #ccc;
}
#buttonRegistro{
    padding:10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size: 80%;
}
.form-control{
    font-size: 20%;
}
.container input, .container span, .container label, .container select{
    font-size: 80%;
}

.avatar-pic {
    width: 100px;
    margin-top: 3%;
}


label.filebutton {
    width:40%;
    height:30px;
    overflow:hidden;
    position:relative;
    background-color:#ccc;
    margin-top: 4%;
    border-radius: 60px;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

@media (min-width:425px){
    .container input, .container span, .container label, .container select{
        font-size: 100%;
    }
}
@media (min-width:1024px){

    h4.nav-text{
        display: block;
    }
    

}