body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.info-usuario .foto-perfil{
    border-radius: 50%;
    width: 65%;
    height: 110%;
}
.header-container{
    width: 100vw;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #393333;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo-container{
    display: flex;
    align-items: center;
}
a{
    display: flex;
    align-items: center;
}
.logo{
    width: 180px;
    height: auto;
    margin-top: 10px;
}
.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-icon{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
img.lupa{
    margin-right: 5px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buscador-input{
    width: 25vw;
    height: 25px;
    border-radius: 5px;
    border: 0px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}
.buscador-button{
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border: 0px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}
h4.nav-text{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
}
.registrarse-text{
    font-weight: bold;
}
.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}
main{
    height: 522px;
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 2%
}
#img{
    width:90%;
    height: 280px;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.listas{
    list-style: none;
    text-align: center;
    margin-bottom: 2%;
}
.username{
    color: #393333;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 2%;
    text-decoration: none;
    text-align: center;
    padding-left: 3%;
    display: inline-block;
}
#userSearch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.usuarios{
    text-align: center;
    color: black;
}
section{
    margin-bottom: 3%;
}