.contenedorUsuario{
    margin-left: 40%;
    margin-top: 10%;
    height: 10cm;
}
.cajaContenido{
    margin-right: 60%;
}
.uk-alert-danger{
    width: 100%;
}
.gifComida{
    width: 16%;
    margin-left: 5%;
    margin-bottom: 1%;
}