<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodieGram</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/icons/icono.ico" />

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <!--   <link rel="stylesheet" href="/stylesheets/header-logeado.css"> -->
    <link rel="stylesheet" href="/stylesheets/header-deslogueado.css">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kumbh+Sans:wght@300;700&family=Poppins:wght@300&family=Questrial&display=swap" rel="stylesheet">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    
    <%- include('./partials/headerDeslogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div class="cajaPerfil">
                                <img class="fotoPerfilUsuario" src="images/foto_perfil_usuario/cande.jpeg" alt="">
                            </div>
                            <h4>candevinse</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img class="post-foto" src="images/posts/asado.jpeg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><a href="/detallePost"><span class="" uk-icon="icon:heart; ratio: 1.3"></span></a>
                                </li>
                                <li><a href="/detallePost"><span class="" uk-icon="icon:comments; ratio: 1.3"></span></a>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">candevinse</h5>
                                <p class="uk-width-5-6">Un clasico argentino!</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">ale_robot1</a>
                                    <p>Pero que rico che!</p>
                                </li>
                                <li>
                                    <a href="">CarolinaCocina123</a>
                                    <p>Se ve delicioso!</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div class="cajaPerfil">
                                <img class="fotoPerfilUsuario" src="images/foto_perfil_usuario/ale.jpeg" alt="">
                            </div>
                            <h4>robertiiito24</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img class="post-foto" src="images/posts/sushi.jpeg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><a href="/detallePost"><span class="" uk-icon="icon:heart; ratio: 1.3"></span></a>
                                </li>
                                <li><a href="/detallePost"><span class="" uk-icon="icon:comments; ratio: 1.3"></span></a>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">robertiiito24</h5>
                                <p class="uk-width-5-6">Algo riquisimo de Japon!</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">David23</a>
                                    <p>Fuaaa, comparti!</p>
                                </li>
                                <li>
                                    <a href="">TomiG</a>
                                    <p>Que rico! Me dio hambre!</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div class="cajaPerfil">
                                <img class="fotoPerfilUsuario" src="images/foto_perfil_usuario/roberto.jpg" alt="">
                            </div>
                            <h4>gegenep</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img class="post-foto" src="images/posts/pizza.jpeg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><a href="/detallePost"><span class="" uk-icon="icon:heart; ratio: 1.3"></span></a>
                                </li>
                                <li><a href="/detallePost"><span class="" uk-icon="icon:comments; ratio: 1.3"></span></a>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">gegenep</h5>
                                <p class="uk-width-5-6">Algo tanisimo!</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">davidb</a>
                                    <p>Delicioso!</p>
                                </li>
                                <li>
                                    <a href="">CandeV</a>
                                    <p>Buenarrrdoo</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div class="cajaPerfil">
                                <img class="fotoPerfilUsuario" src="images/foto_perfil_usuario/tomi.jpeg" alt="">
                            </div>
                            <h4>TomiG</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img class="post-foto" src="images/posts/salmon.jpeg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><a href="/detallePost"><span class="" uk-icon="icon:heart; ratio: 1.3"></span></a>
                                </li>
                                <li><a href="/detallePost"><span class="" uk-icon="icon:comments; ratio: 1.3"></span></a>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">TomiG</h5>
                                <p class="uk-width-5-6">Me di un gustito hoy!</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">AleV</a>
                                    <p>Bien de gustito che!</p>
                                </li>
                                <li>
                                    <a href="">AgusP</a>
                                    <p>Se ve flama!</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div class="cajaPerfil">
                                <img class="fotoPerfilUsuario" src="images/foto_perfil_usuario/lisa.jpg" alt="">
                            </div>
                            <h4>Moritaa1</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img class="post-foto" src="images/posts/torta.jpeg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><a href="/detallePost"><span class="" uk-icon="icon:heart; ratio: 1.3"></span></a>
                                </li>
                                <li><a href="/detallePost"><span class="" uk-icon="icon:comments; ratio: 1.3"></span></a>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Moritaa1</h5>
                                <p class="uk-width-5-6">Para el cumple de mama!</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Daviiii</a>
                                    <p>Decile feliz cumple de mi parte!</p>
                                </li>
                                <li>
                                    <a href="">Cande</a>
                                    <p>Que ricoooo</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div class="cajaPerfil">
                                <img class="fotoPerfilUsuario" src="images/foto_perfil_usuario/maria.jpg" alt="">
                            </div>
                            <h4>LiliVb</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img class="post-foto" src="images/posts/empanadas.jpeg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><a href="/detallePost"><span class="" uk-icon="icon:heart; ratio: 1.3"></span></a>
                                </li>
                                <li><a href="/detallePost"><span class="" uk-icon="icon:comments; ratio: 1.3"></span></a>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">LiliVb</h5>
                                <p class="uk-width-5-6">Caseritas</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Pedro23</a>
                                    <p>Pasa la receta!</p>
                                </li>
                                <li>
                                    <a href="">Luchiita</a>
                                    <p>Las quiero probar!</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div class="cajaPerfil">
                                <img class="fotoPerfilUsuario" src="images/foto_perfil_usuario/cande.jpeg" alt="">
                            </div>
                            <h4>Caroo</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img class="post-foto" src="images/posts/pasta.jpeg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><a href="/detallePost"><span class="" uk-icon="icon:heart; ratio: 1.3"></span></a>
                                </li>
                                <li><a href="/detallePost"><span class="" uk-icon="icon:comments; ratio: 1.3"></span></a>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Caroo</h5>
                                <p class="uk-width-5-6">Hoy unas buenas pastas!</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">TomiG</a>
                                    <p>Quiero la receta!</p>
                                </li>
                                <li>
                                    <a href="">Cande</a>
                                    <p>Yo tambien la quiero!!</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
        
                </section>

            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>